{% extends 'base.html.twig' %}

{% block title %}{{ 'Present'|trans }}{% endblock %}

{% block body %}
    {% set reactions = event.reactions|map(reaction => { id: reaction.id }) %}
    <div id="app" data-options="{{ options|merge({reactions: reactions})|json_encode }}">#app</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('event/present') }}
{% endblock %}
