{% extends 'base.html.twig' %}

{% block title %}{{ 'Show'|trans }}{% endblock %}

{% block body %}
     <div id="app" data-options="{{ options|json_encode }}">#app</div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('event/show') }}
{% endblock %}
