<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}{% endblock %}
        <title>{% block title %}{{ site_name }}{% endblock %}</title>
    </head>
    <body>
        {% block body %}
            <div class="{% block content_wrapper_class %}container{% endblock %}">
                {% block flash_message %}
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endblock %}

                {% block content %}{% endblock %}
            </div>
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
